<div appPosterHover class="card bg-dark text-white text-center w-50" >
  <img [src]="'http://image.tmdb.org/t/p/original/' + poster.posterPath" class="card-img" [alt]="poster.name">
  <div class="card-img-overlay">
    <h5 class="card-title">
      {{ poster.name }}
    </h5>
    <p class="card-text">
      <strong>First Air Date: </strong>
      {{ poster.firstAirDate | date }}
    </p>
    <p class="card-text">
      <strong>Popularity: </strong>
      {{ poster.popularity/100 | percent }}
    </p>
    <p class="card-text">
      <strong>Average Rating: </strong>
      {{ poster.rating }}/10
    </p>
  </div>
</div>
